* {
  box-sizing: border-box;
}

html,
body {
  background-color: $background-color;
  color: $secondary-text-color;
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  color: $secondary-text-color;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.site-wrapper {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

pre {
  border-radius: 5px;
  border: 1px solid #e8e3c1;
  overflow: auto;
  font-size: 0.8rem !important;
}
