* {
  box-sizing: border-box;
  font-family: 'Noto Serif';
}

html,
body {
  color: #111;
  font-size: 18px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
