.blog {
  display: grid;
  padding-top: $header-height;
  height: 100%;
  grid-column-gap: 19px;
}

.post-list {
  margin: auto;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  max-width: 600px;
}

.post-list-item {
  list-style: none;
  margin-bottom: 3rem;
}

.post-list-item p {
  margin-top: 0;
  text-align: justify;
  font-family: $noto-serif;
  letter-spacing: 0.01rem;
  line-height: 1.3rem;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-list-item h3 {
  margin-bottom: 0.55556rem;

  a {
    color: $primary-text-color;
    font-family: $roboto;
    font-weight: bold;
    font-size: 3.55556rem;
  }
}

.post-meta {
  font-family: $roboto;
  font-size: 0.88889rem;
  color: $meta-text-color;
  margin-bottom: 0.777778rem;
}

@media only screen and (min-width: 1200px) {
  .blog {
      grid-template-columns: repeat(12, 1fr);

      .post-list {
        grid-column-start: 6;
        grid-column-end: 11;
        padding: 0;
        max-width: none;
        min-width: 0;
        width: 100%;
      }

      .post-list-item {
        margin-bottom: 5rem;
      }
  }
}

@media only screen and (min-width: 1600px) {
  .blog {
      .post-list {
        grid-column-start: 6;
        grid-column-end: 10;
      }
  }
}
