.blog {
  display: grid;
  padding-top: 86.4px;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 19px;
}

.post-list {
    grid-column-start: 6;
    grid-column-end: 11;
}

.post-list-item {
  list-style: none;
  margin-bottom: 2rem;
}

.post-list-item p {
  font-size: 0.89rem;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-list-item h3 {
  font-size: 1.5rem;
}
