.blog {
  display: grid;
  padding-top: $header-height;
  height: 100%;
  grid-column-gap: 19px;
}

.post-list {
  margin: auto;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  max-width: 600px;
}

.post-list-item {
  list-style: none;
  margin-bottom: 3rem;
}

.post-list-item p {
  margin-top: 0.5rem;
  text-align: justify;
  font-size: 0.89rem;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-list-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0;

  a {
    font-family: $merrieweather-sans-font;
  }
}

.post-meta {
  font-size: 0.7rem;
  color: #555;
}

@media only screen and (min-width: 1200px) {
  .blog {
      grid-template-columns: repeat(12, 1fr);

      .post-list {
        grid-column-start: 6;
        grid-column-end: 11;
        padding: 0;
        max-width: none;
        min-width: 0;
        width: 100%;
      }

      .post-list-item {
        margin-bottom: 5rem;
      }
  }
}

@media only screen and (min-width: 1600px) {
  .blog {
      .post-list {
        grid-column-start: 6;
        grid-column-end: 10;
      }
  }
}
