.home {
  height: 100%;
  position: absolute;
  top: 0;
  display: grid;
  align-items: center;
  grid-column-gap: 0.625rem;
  grid-template-columns: repeat(3, 1fr);
  z-index: -1;
}

.home h1,
.home h2 {
  font-family: 'Open Sans';
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

.home h2 {
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

.home p {
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  text-align: justify;
}

.home article {
  position: relative;
  left: -50%;
  grid-column-start: 2;
  grid-column-end: 3;
}
