.home {
  height: 100%;
  display: grid;
  grid-column-gap: 0.625rem;
  color: $primary-text-color;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  padding-top: $header-height;
  margin: auto;
  max-width: 600px;
  align-items: center;

  @media only screen and (max-width: 500px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    article {
      position: relative;
      top: -2rem;
    }
  }
}

.home h1,
.home h2 {
  font-family: $roboto;
}

.home h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.72rem;
}

.home h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-size:    2rem;
}

.home p {
  font-family: $roboto;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px) {
  .home {
      align-items: center;
      grid-template-columns: repeat(12, 1fr);
      padding: 0;
      max-width: initial;

      article {
        grid-column-start: 3;
        grid-column-end: 7;
        min-width: 0;
        width: 100%;
      }
  }
}

@media only screen and (min-width: 1600px) {
    .home {
        article {
            grid-column-end: 6;
        }
    }
}
