.post-page {
  padding-top: $header-height;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  font-family: $noto-serif;

  @media only screen and (max-width: 500px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .wrapper {
    max-width: 550px;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: $roboto;
    color: $primary-text-color;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0.55556rem;

    @media only screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }

  h2     {
    font-size: 2rem;

    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }
  p + h2 {margin-top: 2.5rem;}

  h3     {
    font-size: 1.5rem;

    @media only screen and (max-width: 500px) {
      font-size: 1.2rem;
    }
  }
  p + h3 {margin-top: 2rem;}

  h4     {font-style: italic;}
  p + h4 {margin-top: 1.5rem;}

  .post-meta {
    font-size: 0.88889rem;
    color: $meta-text-color;
    margin-bottom: 1rem;
  }

  p {
    color: $secondary-text-color;
    line-height: 1.5556rem;
    letter-spacing: 0.01rem;
  }
}

@media only screen and (min-width: 1200px) {
  .post-page {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .wrapper {
        max-width: none;
        width: 100%;
        min-width: 0;
        grid-column-start: 4;
        grid-column-end: 10;
      }
  }
}

@media only screen and (min-width: 1600px) {
  .post-page {

      .wrapper {
        grid-column-start: 5;
      }
  }
}
