@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');

$primary-text-color: #111;
$secondary-text-color: #333;
$base-font-size: 18px;
$background-color: #fff;
$serif-font: 'Noto Serif';
$sans-serif-font: 'Open Sans';
$roboto-font: 'Roboto';
